extends layout

block main
  h1 Configuration Is Code Blog
  if collections.posts && collections.posts.length > 0
    each post in collections.posts
      h3
        a(href='/'+post.path)!= post.title
        - var pubdate = moment(post.publishDate).format('YYYY-MM-DD')
        span.blog-index-date
          time(datetime='#{pubdate}')  (#{pubdate})
      div!= post.excerpt
  else
    p.
      No blog entries are currently available.
      Try the #[a(href='/about') about page]
      or #[a(href='/author') author bio].
