extends layout

block main
  h1 Configuration is Code - Recent Posts
  if collections.posts && collections.posts.length > 0
    each post in collections.posts
      h3
        a(href='/'+post.path)!= post.title
      div!= post.excerpt
  else
    h3= collections.posts.length
    h3 there ain't no posts here, man
