doctype html
html
  head
    block head
      block title
        title= title ? title + " | " + site.title : site.title
      meta(charset='utf-8')
      link(rel='stylesheet' href='/bootstrap/css/bootstrap.min.css')
      link(rel='stylesheet' href='/site.css')
      block styles
  body.container
    block body
      block main

