* { font-family: serif; }
h1, h2, h3, h4, h5 { font-family: serif; }

/* For all media with >= 800 px width, set our width to just 800. */
@media (min-width: 800px)  {
    .container { width: 800px; }
}

/* We really want to indent only code examples, but they're not marked
   as different from other <pre> blocks so we just hack it at the moment
   by doing all <pre> blocks. */
pre { margin-left: 2em; }

/* blog index page */
.blog-index-date { font-size: 70%; }

/*
  Blog post pages
*/
.byline { font-style: italic; }
address {
    display: inline;        /* Defaults to block in HTML */
    font-style: inherit;    /* Bootstrap turned off inherit for <address>? */
}
.content { margin-top: 10px; }
